// App colors
$primaryColor: #2996cc;
$secondaryColor: #d84f4f;
$text-color-2: #e0e2e3;

// Typography
$primary-font: 'Open Sans', sans-serif !important;


 // Media queries breakpoints
$screen-sm-min: 768px;
